 <!-- <%= JSON.stringify(universites) %>
<%= JSON.stringify(facultes) %> 
<%= JSON.stringify(departements) %>
<%= JSON.stringify(filieres) %>
 -->

<select name="universites" id="">
  <% universites.forEach((data) => { %>
    <option value="<%= data.id %>"><%= data.nomUniversite %></option>
  <% }); %>
</select><br>

<select name="facultes" id="">
    <% facultes.forEach((data) => { %>
      <option value="<%= data.id %>"><%= data.nomFaculte %></option>
    <% }); %>
  </select><br>
  
  <select name="departements" id="">
    <% departements.forEach((data) => { %>
      <option value="<%= data.id %>"><%= data.nomDepartement %></option>
    <% }); %>
  </select><br>
  
  <select name="filieres" id="">
    <% filieres.forEach((data) => { %>
      <option value="<%= data.id %>"><%= data.nomFiliere %></option>
    <% }); %>
  </select><br> 